<div class="sidebar">
    <img src="https://st2.depositphotos.com/1031343/5867/v/380/depositphotos_58676587-stock-illustration-catering-stamp.jpg?forcejpeg=true" class="img-logo" style="width:200px;">
    <a class="active" href="/"><h5>Home</h5></a>
    <a href="/orders">Orders</a>
    <a href="/about">About</a>
    <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
  Database
  </button>
  </div>